.button {
    line-height: 35px;
    padding: 0 10px;
    border: none;
    color: $white !important;
    background-color: $green;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
}